/*
@use '~@angular/material' as mat;
@import 'components-theme';

// Define the light theme.
$primary:  mat.$light-theme-background-palette(mat.$deep-orange-palette, 400);
$accent: mat.$light-theme-background-palette(mat.$deep-purple-palette, 200);
$warn: mat.$light-theme-background-palette(mat.$red-palette, 900);

$mat-light-theme-background: (
  status-bar: map_get(mat.$deep-orange-palette, 300),
  app-bar:    map_get(mat.$deep-orange-palette, 200),
  background: map_get(mat.$deep-orange-palette, 200),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $light-focused,
  selected-button: map_get(mat.$deep-orange-palette, 300),
  selected-disabled-button: map_get(mat.$deep-orange-palette, 400),
  disabled-button-toggle: map_get(mat.$deep-orange-palette, 200),
  unselected-chip: map_get(mat.$deep-orange-palette, 300),
  disabled-list-option: map_get(mat.$deep-orange-palette, 200),
  tooltip: map_get(mat.$deep-orange-palette, 300),
  sidenav: map_get(mat.$deep-orange-palette, 50),
  nav-list-item: map_get(mat.$deep-orange-palette, 100),
  skeleton: white,

);
// Foreground palette for light themes.
$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),

);

@function create-light-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
  );
}

$theme: create-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);


body {
  background-color: map-get($mat-light-theme-background, background);
}
*/
