@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-root {
    color: mat-color($primary, default-contrast);
    background: mat-color($primary);

    h1 {
      color: mat-color($accent);
    }
  }
}
