@import 'components-theme';

// Define the dark theme.
$primary: mat-palette($mat-green, 500);
$accent:  mat-palette($mat-blue, 500);

// Background palette for dark themes.
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-blue-grey, 900),
  background: map_get($mat-blue-grey, 900),
  hover:      rgba(white, 0.04),
  card:       map_get($mat-blue-grey, 800),
  dialog:     map_get($mat-blue-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-blue-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-blue-grey, 900),
  selected-disabled-button: map_get($mat-blue-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-blue-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-blue-grey, 700),
);
// Foreground palette for dark themes.
$mat-dark-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-secondary-text,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function create-dark-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: $mat-dark-theme-background,
  );
}

$theme: create-dark-theme($primary, $accent);

@include angular-material-theme($theme);
@include components-theme($theme);
