@import 'components-theme';

// Define the light theme.
$primary: mat-palette($mat-green, 500);
$accent:  mat-palette($mat-blue, 500);

$mat-light-theme-background: (
  status-bar: map_get($mat-blue-gray, 300),
  app-bar:    map_get($mat-blue-gray, 50),
  background: map_get($mat-blue-gray, 50),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-blue-gray, 300),
  selected-disabled-button: map_get($mat-blue-gray, 400),
  disabled-button-toggle: map_get($mat-blue-gray, 200),
  unselected-chip: map_get($mat-blue-gray, 300),
  disabled-list-option: map_get($mat-blue-gray, 200),
  tooltip: map_get($mat-blue-gray, 700),
);
// Foreground palette for light themes.
$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@function create-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
  );
}

$theme: create-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include components-theme($theme);

