@use '~@angular/material' as mat;
@use "styles/components.style" as components;
@use "styles/custom-themes/light-theme" as light-theme;
@import "styles/reset";

// Define the default light theme.

$color-config: light-theme.$light-color-config;

// Include material core styles.
@include mat.core();

@include mat.all-component-themes($color-config);
@include components.theme($color-config);

/* not for styling*/
app-root{
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
* {
  box-sizing: border-box;
}
